openapi: 3.0.3
info:
  title: API BS UTP Users V1
  description: >
    Contrato de la API del microservicio `users-service` de UTP+ Parking. Este archivo
    es la fuente de verdad del contrato HTTP: la interfaz del servidor se genera a partir
    de él en tiempo de build, y `UserController` implementa esa interfaz. Cualquier cambio
    en el comportamiento expuesto debe empezar por este contrato.
  version: 1.0.0
servers:
  - url: https://utp.users.api
tags:
  - name: Users
    description: Consulta de usuarios registrados
paths:
  /:
    get:
      tags: [ Users ]
      operationId: getAllUsers
      summary: Listar usuarios de forma paginada
      description: >
        Devuelve los usuarios en páginas de tamaño configurable, junto con la información
        de paginación (página actual, tamaño y totales).
      parameters:
        - name: page
          in: query
          required: false
          description: Número de página a consultar, empezando en 0
          schema:
            type: integer
            format: int32
            minimum: 0
            default: 0
        - name: size
          in: query
          required: false
          description: Cantidad de usuarios por página
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Página de usuarios solicitada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPageResponse"
  /{id}:
    get:
      tags: [ Users ]
      operationId: getUserById
      summary: Obtener un usuario por id
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador del usuario
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Usuario encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "404":
          description: No existe un usuario con ese id
  /username/{username}:
    get:
      tags: [ Users ]
      operationId: getUserByUsername
      summary: Obtener un usuario, incluyendo sus credenciales, por nombre de usuario
      description: Pensado para ser consumido por un servicio de autenticación/gateway.
      parameters:
        - name: username
          in: path
          required: true
          description: Nombre de usuario
          schema:
            type: string
      responses:
        "200":
          description: Usuario encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserLoginResponse"
        "404":
          description: No existe un usuario con ese nombre de usuario
components:
  schemas:
    Role:
      type: object
      description: Rol asignado a un usuario
      properties:
        idRole:
          type: integer
          format: int64
        name:
          type: string
    CampusResponse:
      type: object
      description: Sede/campus al que pertenece un usuario
      properties:
        idCampus:
          type: integer
          format: int64
        nameCampus:
          type: string
    UserResponse:
      type: object
      description: Representación pública de un usuario, sin credenciales
      properties:
        idUser:
          type: integer
          format: int64
        username:
          type: string
        name:
          type: string
        lastname:
          type: string
        dni:
          type: string
        institutionalEmail:
          type: string
          format: email
        career:
          type: string
        actualRegistered:
          type: boolean
        roles:
          type: array
          items:
            $ref: "#/components/schemas/Role"
        campus:
          $ref: "#/components/schemas/CampusResponse"
    UserLoginResponse:
      description: >
        Representación de un usuario que incluye su contraseña; solo debe usarse para
        flujos de autenticación.
      allOf:
        - $ref: "#/components/schemas/UserResponse"
        - type: object
          properties:
            password:
              type: string
    UserPageResponse:
      type: object
      description: Página de usuarios junto con la información de paginación
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/UserResponse"
        page:
          type: integer
          format: int32
          description: Página actual (0-indexada)
        size:
          type: integer
          format: int32
          description: Cantidad de usuarios por página
        totalElements:
          type: integer
          format: int64
          description: Cantidad total de usuarios
        totalPages:
          type: integer
          format: int32
          description: Cantidad total de páginas disponibles
